<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title><%= content_for?(:title) ? yield(:title) : (@definition&.title || "Assessment") %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "rails/assessment/theme", media: "all", "data-turbo-track": "reload" %>
    <% if respond_to?(:javascript_importmap_tags) %>
      <%= javascript_importmap_tags %>
    <% end %>
    <style>
      :root { <%= assessment_css_variables(@theme || current_assessment_theme) %> }
    </style>
  </head>
  <body class="rails-assessment-body no-js">
    <main class="rails-assessment-wrapper">
      <%= render "rails/assessment/shared/flash" %>
      <%= yield %>
    </main>
    <script>
      document.body.classList.remove("no-js");
      document.body.classList.add("js");
    </script>
    <%= yield :scripts %>
  </body>
</html>
